@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #131312;
  font-family: "Poppins", "sans-serif";
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  width: 85%;
  height: 95%;
  /* border: 1px solid #fff; */
  display: flex;
  flex-wrap: wrap;
  /* overflow: hidden; */
}

header .menu_side,
.song_side {
  position: relative;
  width: 25%;
  height: 90%;
  /* border: 1px solid #fff; */
  background-color: #111727;
  box-shadow: 5px 0px 2px #090f1f;
  color: #fff;
}

header .song_side {
  width: 75%;
  background: #0b1320;
}

header .master_play {
  width: 100%;
  height: 10%;
  background: #111727;
  box-shadow: 0px 3px 8px #090f1f;
}

header .menu_side h1 {
  font-size: 20px;
  margin: 15px 0px 0px 20px;
  font-weight: 500;
}

header .menu_side .playlist {
  margin: 40px 0px 0px 20px;
}
header .menu_side .playlist h4 {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 10px;
  color: #4c5262;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.3 linear;
}

header .menu_side .playlist h4:hover {
  color: #fff;
}
header .menu_side .playlist h4 span {
  position: relative;
  margin-right: 35px;
}
header .menu_side .playlist h4 span::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border: 2px solid #4c5262;
  border-radius: 50%;
  top: -4px;
  transition: 0.3s linear;
}

header .menu_side .playlist h4:hover span::before:hover {
  border: 2px solid #fff;
}

header .menu_side .playlist h4 .bi {
  display: none;
}

header .menu_side .playlist .active {
  color: #36e2ec;
}

header .menu_side .playlist .active span {
  display: none;
}

header .menu_side .playlist .active .bi {
  display: block;
  margin-right: 20px;
}

header .menu_side .menu_song {
  width: 100%;
  height: 320px;
  /* border: 1px solid #fff; */
  margin-top: 40px;
}
header .menu_side .menu_song li {
  position: relative;
  list-style: none;
  padding: 5px 0px 5px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s linear;
  display: flex;
  align-items: center;
}
header .menu_side .menu_song li:hover {
  background: rgb(105, 105, 170, 0.1);
}
header .menu_side .menu_song li span {
  font-size: 12px;
  font-weight: 600;
  color: #4c5262;
}
header .menu_side .menu_song li img {
  width: 32px;
  height: 32px;
  margin-left: 25px;
}

header .menu_side .menu_song li h5 {
  font-size: 11px;
  margin-left: 15px;
}

header .menu_side .menu_song li h5 .subtitle {
  font-size: 9px;
  color: #4c5262;
}

header .menu_side .menu_song li .bi {
  position: absolute;
  right: 15px;
  top: 6px;
}

header .master_play {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

header .master_play .wave {
  width: 30px;
  height: 30px;
  padding-bottom: 5px;
  display: flex;
  align-items: flex-end;
}

header .master_play .wave .wave1 {
  width: 3px;
  height: 10px;
  margin-right: 3px;
  border-radius: 10px 10px 0 10px;
  background: #36e2ec;
  animation: unset;
}

header .master_play .wave .wave1:nth-child(2) {
  /* animation-delay: 0.4s; */
  height: 13px;
}

header .master_play .wave .wave1:nth-child(3) {
  /* animation-delay: 0.8s; */
  height: 8px;
}

/* javascript wave animation class */
header .master_play .active2 .wave1 {
  animation: wave 0.5s linear infinite;
}

header .master_play .active2 .wave1:nth-child(2) {
  animation-delay: 0.4s;
}

header .master_play .active2 .wave1:nth-child(3) {
  animation-delay: 0.8s;
}
@keyframes wave {
  0% {
    height: 10px;
  }
  50% {
    height: 15px;
  }
  100% {
    height: 10px;
  }
}

header .master_play img {
  width: 35px;
  height: 35px;
}

header .master_play h5 {
  width: 130px;
  font-size: 13px;
  margin-left: 15px;
  color: #fff;
  line-height: 15px;
}

header .master_play h5 .subtitle {
  font-size: 11px;
  color: #4c5262;
}

header .master_play .icon {
  font-size: 20px;
  color: #fff;
  margin: 0 20px 0 40px;
}

header .master_play .icon .bi {
  cursor: pointer;
  outline: none;
}

header .master_play .icon .bi:nth-child(2) {
  border: 1px solid rgb(105, 105, 170, 0.1);
  border-radius: 50%;
  padding: 1px 3px 0px 6px;
  transition: 0.3 linear;
}

header .master_play span {
  width: 32px;
  font-size: 11px;
  font-weight: 400;
  color: #fff;
}

header .master_play #currentStart {
  margin: 0 0 0 20px;
}

header .master_play .bar {
  position: relative;
  width: 43%;
  height: 2px;
  background: rgb(105, 105, 170, 0.1);
  margin: 0 15px 0 10px;
}

header .master_play .bar .bar2 {
  position: absolute;
  background: #36e2ec;
  width: 0%;
  height: 100%;
  top: 0;
}

header .master_play .bar .dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #36e2ec;
  border-radius: 50%;
  left: 0%;
  top: -1px;
  transition: 1s linear;
}

header .master_play .bar .dot::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #36e2ec;
  border-radius: 50%;
  left: -6px;
  top: -6px;
  box-shadow: inset 0 0 3px #36e2ec;
}

header .master_play .bar input {
  position: absolute;
  width: 100%;
  top: -6px;
  left: 0;
  cursor: pointer;
  z-index: 999999;
  opacity: 0;
}

header .master_play .vol {
  position: relative;
  width: 100px;
  height: 2px;
  margin-left: 50px;
  background-color: rgb(105, 105, 170, 0.1);
}

header .master_play .vol .bi {
  position: absolute;
  color: #fff;
  font-size: 25px;
  top: -17px;
  left: -30px;
}

header .master_play .vol input {
  position: absolute;
  width: 100%;
  top: -6px;
  left: 0;
  cursor: pointer;
  z-index: 999999;
  opacity: 0;
}

header .master_play .vol .bar2 {
  position: absolute;
  background: #36e2ec;
  width: 0%;
  height: 100%;
  top: 0;
}

header .master_play .vol .dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #36e2ec;
  border-radius: 50%;
  left: 0%;
  top: -1px;
  transition: 1s linear;
}

header .master_play .vol .dot::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #36e2ec;
  border-radius: 50%;
  left: -6px;
  top: -6px;
  box-shadow: inset 0 0 3px #36e2ec;
}

header .song_side {
  z-index: 2;
  overflow: auto;
  scroll-behavior: smooth;
}

header .song_side::-webkit-scrollbar {
  display: none;
}
header .song_side .nav {
  padding: 0 15px;
}

header .song_side .nav nav {
  width: 90%;
  height: 10%;
  margin: auto;
  /* border: 1px solid #fff; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}

header .song_side .nav nav ul {
  display: flex;
}

header .song_side .nav nav ul li {
  position: relative;
  list-style-type: none;
  font-size: 13px;
  color: #4c5262;
  margin-right: 25px;
  cursor: pointer;
  transition: 0.3 linear;
}

header .song_side .nav nav ul li:hover {
  color: #fff;
}

header .song_side .nav nav ul li:nth-child(1) {
  color: #fff;
}

header .song_side .nav nav ul li span {
  position: absolute;
  width: 100%;
  height: 2.5px;
  background: #36e2ec;
  bottom: -5px;
  left: 0;
  border-radius: 20px;
}

header .song_side .nav nav .search {
  position: relative;
  width: 40%;
  padding: 1px 10px;
  border-radius: 20px;
  color: gray;
}

header .song_side .nav nav .search::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: rgb(105, 105, 170, 0.1);
  backdrop-filter: blur(5px);
  z-index: -1;
}

header .song_side .nav nav .search .bi {
  font-size: 13px;
  padding: 3px 0 0 10px;
}

header .song_side .nav nav .search input {
  background: none;
  border: none;
  outline: none;
  padding: 0 10px;
  color: #fff;
  font-size: 12px;
}

header .song_side .nav nav .user {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

header .song_side .nav nav .user img {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 2px 2px 8px #131312;
}

header .song_side .content {
  width: 90%;
  height: 35%;
  margin: auto;
  /* border: 1px solid #fff; */
  margin-top: 7%;
}

header .song_side .content .verifiedArtist {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header .song_side .content .verifiedArtist .text {
  padding-left: 20px;
}

header .song_side .content .artist_header .header_uppder {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

header .song_side .content .artist_header .header_uppder .artist_image img {
  width: 150px;
  height: 150px;
  border-radius: 4px;
  margin-left: 20px;
  margin-right: 20px;
}

header
  .song_side
  .content
  .artist_header
  .header_uppder
  .artist_infos
  .verified {
  display: flex;
}

header
  .song_side
  .content
  .artist_header
  .header_uppder
  .artist_infos
  .verified
  .bi {
  font-size: 20px;
  color: #36e2ec;
  margin-right: 10px;
}

header .song_side .content .artist_header .header_uppder .artist_infos h5 {
  font-size: 20px;
  font-weight: 500;
}

header
  .song_side
  .content
  .artist_header
  .header_uppder
  .artist_infos
  .artist_name {
  font-size: 50px;
  font-weight: 900;
}

header .song_side .content h1 {
  font-size: 3rem;
  font-weight: 900;
}

header .song_side .content .buttons {
  position: relative;
  margin-top: 5px;
  margin-left: 25px;
}

header .song_side .content .buttons .play {
  padding: 0;
  position: absolute;
  background: none;
  color: #fff;
  outline: none;
  font-size: 40px;
  border: none;
}

header .song_side .content .buttons .follow {
  position: absolute;
  width: 130px;
  height: 30px;
  border: 2px solid #fff;
  outline: none;
  border-radius: 20px;
  background: none;
  color: #fff;
  left: 4rem;
  top: 0.5rem;
}

header .song_side .content .artist_header .buttons .play:hover {
  font-size: 45px;
  top: -0.1rem;
  left: -0.1rem;
}

header .song_side .content .artist_header .buttons .follow:hover {
  color: #000;
  background: #fff;
}

header .song_side .popular_song {
  width: 90%;
  height: auto;
  /* border: 1px solid #fff; */
  margin: auto;
  margin-top: 15px;
}

header .song_side .popular_song .h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .song_side .popular_song .pop_song {
  width: 100%;
  height: auto;
  overflow: auto;
  scroll-behavior: smooth;
}

header .song_side .popular_song .pop_song .pop_song_item {
  position: relative;
  list-style: none;
  padding: 5px 0px 5px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s linear;
  display: flex;
  align-items: center;
}

header .song_side .popular_song .pop_song .pop_song_item:hover {
  background: rgb(105, 105, 170, 0.1);
}
header .song_side .popular_song .pop_song .pop_song_item .first_part {
  display: flex;
  align-items: center;
  width: 50%;
}

header .song_side .popular_song .pop_song .pop_song_item .first_part img {
  width: 32px;
  height: 32px;
  margin-left: 25px;
}

header .song_side .popular_song .pop_song .pop_song_item .first_part .name {
  font-size: 15px;
  margin-left: 15px;
}

header .song_side .popular_song .pop_song .pop_song_item .middle_part {
  width: 30%;
}
header .song_side .popular_song .pop_song .pop_song_item .third_part {
  width: 20%;
}

header .song_side .popular_artist .btn_s .bi {
  color: #a4a8b4;
  cursor: pointer;
  transition: 0.3s linear;
}

header .song_side .popular_artist .btn_s .bi:hover {
  color: #fff;
}
